# Created by https://www.gitignore.io/api/node,code
# Edit at https://www.gitignore.io/?templates=node,code

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Node ###

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# End of https://www.gitignore.io/api/node,code

# tsdx
.rts2_cache_cjs
.rts2_cache_esm
